

#dob {
    display: flex;
    justify-content: stretch;
    font-weight: bolder;
    margin-left: 30px;
    font-size: medium;
    padding-bottom: 25px;
}

#dobInfo {
    display: flex;
    flex-direction: column;
    text-align: start;
    color: #8899a6;
    margin-left: 30px;
    margin-right: 30px;
    font-size: medium;
}