#footerUl {
  display: flex;
  align-self: start;
  right: 0;
  color: #8899a6;
  text-align: center;
  position: fixed;
  right: 0;
  padding: 1em;
  font-size: 10pt;
  
}

li {
  padding: 5px;
}

li:hover {
    text-decoration: underline;
    color: #1da1f2;
}

.atags:hover {
  text-decoration: underline;
  color: #1da1f2;
}

li:active {
  text-decoration: underline;
  color: #1da1f2;
}

.atags:active {
  text-decoration: underline;
  color: #1da1f2;
}


@media (max-width: 576px) {
  #footerUl {
    display: flex;
    flex-direction: row;
    max-width: 540px;
  }
}
@media (max-width: 768px) {
  #footerUl {
    display: flex;
    flex-direction: row;
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  #footerUl {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  #footerUl {
    max-width: 1140px;
  }
}
