/* 
//colors:
main-background-color: #15202B;
light grey text #8899a6 
dark input color #192734
dark div color #39434c
light blue classic #1da1f2
*/

#exploreH1 {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  text-align: left;
  color: #1da1f2;
  font-size: 16pt;
  font-weight: bold;
  margin-left: 17.8em;
  height: 12em;
  width: auto;
  padding: 10px 199px 0px 10px;
  border-right: 0.5px solid #8899a69a;
}

#exploreH1:hover {
  color: #1779b6;
}

#happeningP {
  display: flex;
  font-size: medium;
  font-weight: lighter;
  color: rgba(245, 245, 245, 0.856);
}

.tweetButton {
  display: none;
  margin: auto;
  margin-top: 5em;
  background-color: #1da1f2;
  color: whitesmoke;
  width: 30%;
  height: auto;
  padding: 20px;
  text-align: center;
  font-size: 12pt;
  font-weight: bolder;
  justify-content: center;
  border-radius: 30px;
  border: none;
  text-decoration: none;
  position: relative;
}

@media (max-width: 1355px) {
  .tweetButton {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    margin-top: 0;
    margin-bottom: 1em;
    width: 10%;
    position: relative;
  }
}

@media (max-width: 300px) {
  .tweetButton {
    display: flex;
    justify-content: center;
    margin-right: 14em;
    margin-top: 0;
    width: 10%;
    position: relative;
  }
}

.PostsListDiv {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-between;
  width: auto;
}

.allPostsListDiv:hover {
  background-color: #192734;
}

.rowContainerHomeFeed {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.rowContainerHomeFeed > p {
  padding: 10px;
  margin: 0;
}

#allPostBodyP {
  display: flex;
  font-size: large;
  color: whitesmoke;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 2em;
  margin-left: 4em;
}
