/* 
//colors:
light grey text #8899a6 
dark input color #192734
dark div color #39434c
light blue classic #1da1f2
*/

/*
//icons in order:
#birdHouse
#hash
#bell
#mail
#bookMark
#listIcon
#userProfile
#moreCircle
*/

#leftSideDiv {
  /* margin-left: 5%; */
  width: 24%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  border-right: 0.5px solid #8899a69a;
  text-align: left;
  height: 100%;
  position: fixed;
  /* overflow-anchor: ; */
  
  /* padding: 25px; */
}

#leftNav {
  border: none;
  text-align: left;
  cursor: pointer;
  position: static;
  height: auto;
}

#leftNav > li {
  text-decoration: none;
}

#leftNav > li:hover {
  color: #1da1f2;
}

#leftSideIcons {
  margin-left: 25%;
}

#birdHouse {
  height: 2.5em;
  width: auto;
}

#hash {
  height: 2em;
  width: auto;
  padding: 5px;
}

#bell {
  height: 2em;
  width: auto;
  padding: 5px;
}

#mail {
  height: 2em;
  width: auto;
  padding: 5px;
}

#bookMark {
  height: 2em;
  width: auto;
  padding: 5px;
}

#listIcon {
  height: 2em;
  width: auto;
  padding: 5px;
}

#userProfile {
  height: 2.5em;
  width: auto;
  padding: 5px;
}

#moreCircle {
  height: 2.5em;
  width: auto;
  padding: 5px;
}

#leftSideText > li {
  color: whitesmoke;
  font-size: large;
  padding-bottom: 1.78em;
  padding-right: 25px;
  cursor: pointer;
}

#leftSideText > li:hover {
  color: #1da1f2;
  text-decoration: none;
}

#leftHomeText {
  padding-top: 2px;
  color: whitesmoke;
  text-decoration: none;
  cursor: pointer;
}

#leftHomeText:hover {
  color: #1da1f2;
}

#leftProfileText {
  padding-bottom: 5px;
  color: whitesmoke;
  text-decoration: none;
}

#leftProfileText:hover {
  color: #1da1f2;
  cursor: pointer;
}

.link:active {
  position: relative;
  top: 1px;
  color: #1da1f2;
}

.link:hover {
  background-color: #39434c;
  text-decoration: none;
}

#leftSideTweetBtn {
  display: flex;
  margin-top: auto;
  margin-left: 30%;
  margin-right: 5%;
  background-color: #1da1f2;
  color: whitesmoke;
  width: 50%;
  height: auto;
  padding: 20px;
  text-align: center;
  font-size: 12pt;
  font-weight: bolder;
  justify-content: center;
  border-radius: 30px;
  border: none;
  text-decoration: none;
}

#leftSideTweetBtn:hover {
  background-color: #1779b6;
  cursor: pointer;
  text-decoration: none;
  /* color: inherit; */
}

#leftSideTweetBtn:active {
  cursor: pointer;
  background-color: #1779b6;
  position: relative;
  top: 1px;
  text-decoration: none;
  /* color: inherit; */
}

#leftSideTweetBtn:focus {
  outline: none;
  text-decoration: none;
  /* color: inherit; */
}

link:active {
  text-decoration: none;
  color: inherit;
}

link {
  text-decoration: none;
  color: inherit;
}
