/* light grey text #8899a6 
dark input color #192734
dark div color #39434c
light blue classic #1da1f2
*/

.makeTweetMain {
  display: flex;
  margin: auto;
  margin-top: 2em;
  width: 100vw;
  height: 100vh;
}

@media (max-width: 960px) {
  #divMakeTweet {
    display: flex;
    flex-direction: column;
    place-items: center;
    margin: auto;
    justify-content: flex-start;
    height: auto;
    width: fill;
    position: relative;
    background-color: transparent;
  }
}

#divMakeTweet {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 50%;
  height: max-content;
  background-color: #192734;
  border-radius: 10px;
}

#makeTweetProfilePic {
  display: flex;
  flex-direction: initial;
  border-radius: 100%;
  border: 1px solid #8899a6;
  width: 3em;
  height: 3em;
  margin-top: 20px;
  margin-left: 20px;
}

#xOut {
  display: flex;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.5em;
  font-weight: thin;
  font-stretch: wider;
  color: whitesmoke;
  border-bottom: 1px solid #8899a69a;
  padding: 10px 5px 10px 38px;
}

@media (max-width: 960px) {
  #xOut {
    display: flex;
    height: auto;
    width: fill;
    position: relative;
    background-color: transparent;
  }
}
@media (max-width: 960px) {
  .xContainer {
    display: flex;
    width: 100%;
    position: relative;
    background-color: transparent;
  }
}
#xOut:hover {
  color: #1da1f2;
}

#formMakeTweet {
  display: flex;
  flex-direction: column;
  background-color: #192734;
  widows: 100%;
  height: 12em;
}

@media (max-width: 960px) {
  #formMakeTweet {
    display: flex;
    place-items: flex-start;
    height: auto;
    width: fit-content;
    position: relative;
  }
}

#formDiv {
  display: flex;
  flex-direction: row;
}

#makeTweetLabel {
  display: flex;
  flex-wrap: nowrap;
  font-size: 1.2em;
  color: #8899a6;
  width: 100%;
  padding-top: 30px;
}

#tweetInput {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  font-size: 12pt;
  margin-left: 6em;
  margin-top: -3.5em;
  background-color: transparent;
  border: none;
  width: auto;
  height: 100%;
  color: whitesmoke;
  text-overflow: contain;
  padding: 5px;
}

@media (max-width: 960px) {
  #tagLabel {
    display: flex;
    justify-content: space-around;
    margin-top: 10em;
    width: 100%;
    position: relative;
    z-index: 0;
  }
}

#tweetInput:active {
  background-color: #192734;
  border: none;
}

#tweetInput:focus {
  outline: none;
}

#tweetInput::placeholder {
  font-size: large;
}

.makeTweetIcons {
  display: flex;
  place-items: center;
  justify-content: space-around;
  text-align: center;
  align-content: center;
  height: auto;
  width: 100%;
  cursor: pointer;
}

@media (max-width: 960px) {
  .makeTweetIcons {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 60%;
    position: relative;
    padding-bottom: 5px;
  }
}

#submitTweetBtn {
  display: flex;
  background-color: #1da1f2;
  color: whitesmoke;
  width: fit-content;
  height: max-content;
  padding: 1em;
  text-align: center;
  font-size: small;
  font-weight: bolder;
  justify-content: center;
  border-radius: 30px;
  border: none;
  text-decoration: none;
}

#submitTweetBtn:hover {
  background-color: #1779b6;
  cursor: pointer;
  text-decoration: none;
}

#submitTweetBtn:active {
  cursor: pointer;
  background-color: #1779b6;
  position: relative;
  top: 1px;
  text-decoration: none;
}

#submitTweetBtn:focus {
  outline: none;
  text-decoration: none;
}

#tagLabel {
  display: flex;
  flex-direction: column;
  font-size: 12pt;
  font-style: oblique;
  font-weight: lighter;
  color: #5d6164;
}

#tagInp {
  background-color: #253341;
  font-size: 12pt;
  color: #1da1f2;
  height: 2em;
}
