/* light grey text #8899a6 
dark input color #192734
dark div color #39434c
light blue classic #1da1f2
*/

#divMakeTweet {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 40%;
  height: auto;
  background-color: #192734;
  /* padding: 20px; */
  border-radius: 10px;
}

#makeTweetProfilePic {
  display: flex;
  flex-direction: initial;
  border-radius: 100%;
  border: 1px solid #8899a6;
  width: 3em;
  height: 3em;
  margin-top: 20px;
  margin-left: 20px;
}

#xOut {
  display: flex;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.5em;
  font-weight: thin;
  font-stretch: wider;
  color: whitesmoke;
  border-bottom: 1px solid #8899a69a;
  padding: 10px 5px 10px 38px;
}

#xOut:hover {
  color: #1da1f2;
}

#formMakeTweet {
  display: flex;
  flex-direction: column;
  background-color: #192734;
  width: auto;
  height: 12em;
}

#formDiv {
  display: flex;
  flex-direction: row;
}

#makeTweetLabel {
  display: flex;
  flex-wrap: nowrap;
  font-size: 1.2em;
  color: #8899a6;
  width: 100%;
  padding-top: 30px;
}

#tweetInput {
  display: flex;
  justify-content: start;
  /* flex-wrap: wrap; */
  /* display: inline-block;
  vertical-align: top; */
  text-align: left;
  font-size: medium;
  margin-left: 5em;
  margin-top: -3.5em;
  /* background-color: #192734; */
  background-color: transparent;
  border: none;
  width: auto;
  height: 100%;
  color: whitesmoke;
  text-overflow: contain;
  padding: 5px;
}

#tweetInput:active {
  background-color: #192734;
  border: none;
}

#tweetInput:focus {
  outline: none;
}

#tweetInput::placeholder {
  font-size: large;
}

.makeTweetIcons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  width: auto;
  /* border-top: 1px solid #8899a6; */
  padding: 10px 5px 10px 25px;
  cursor: pointer;
}

.iconListMT {
  display: flex;
  flex-direction: row;
}

li > img {
  padding: 3px 3px 10px 10px;
  width: 22px;
  height: auto;
}

#submitTweetBtn {
  display: flex;
  /* margin-top: 190%; */
  margin-right: 30px;
  margin-bottom: 5px;
  background-color: #1da1f2;
  color: whitesmoke;
  width: 100px;
  height: 3em;
  padding: 5px;
  text-align: center;
  font-size: small;
  font-weight: bolder;
  justify-content: center;
  border-radius: 30px;
  border: none;
  text-decoration: none;
}

#submitTweetBtn:hover {
  background-color: #1779b6;
  cursor: pointer;
  text-decoration: none;
  /* color: inherit; */
}

#submitTweetBtn:active {
  cursor: pointer;
  background-color: #1779b6;
  position: relative;
  top: 1px;
  text-decoration: none;
  /* color: inherit; */
}

#submitTweetBtn:focus {
  outline: none;
  text-decoration: none;
  /* color: inherit; */
}
