/* .navBarDiv {
  opacity: 1;
} */

nav {
  display: flex;
  padding: 10px;
  justify-content: space-evenly;
  border-bottom: 1px solid #8899a6;
  height: 2.5em;
  text-align: center;
  width: 101%;
  position: sticky;
  top: 0;
  opacity: 1;
}

#home {
  width: 3.2em;
  height: auto;
  padding-bottom: 1em;
  margin-top: 0;
}

#home:active {
  position: relative;
  top: 1px;
}

#login {
  border: 1px solid #1da1f2;
  border-radius: 20px;
  text-justify: distribute;
  cursor: pointer;
  color: #1da1f2;
  font-family: Arial;
  font-size: 1em;
  font-weight: bolder;
  width: 85px;
  height: auto;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 16px;
  padding-right: 16px;
}

#signup {
  background-color: #1da1f2;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 1em;
  font-weight: bolder;
  width: 85px;
  height: auto;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 16px;
  padding-right: 16px;
}
.active:hover {
  background-color: #1779b6;
}
.active:active {
  position: relative;
  top: 1px;
  background-color: #1779b6;
}

#signup:hover {
  background-color: #1779b6;
}

#login:hover {
  background-color: #1779b6;
}

#logout {
  border: 1px solid #1da1f2;
  border-radius: 20px;
  text-justify: distribute;
  cursor: pointer;
  color: #1da1f2;
  font-family: Arial;
  font-size: 1em;
  font-weight: bolder;
  width: 85px;
  height: auto;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 16px;
  padding-right: 16px;
}

#logout:hover {
  background-color: #1779b6;
}

#profilePic {
  margin-top: 3px;
  width: 1em;
  height: auto;
  padding-top: 7px;
}

#profile {
  text-decoration: none;
  color: whitesmoke;
  font-size: large;
}

#searchForm {
  display: flex;
  flex-direction: row;
}
#searchIcon {
  padding-top: 12px;
  padding-right: 10px;
  width: 1.5em;
  height: 1.5em;
}

#searchInput {
  width: 25em;
  height: 2em;
  margin-top: 7px;
  border-radius: 25px;
  text-align: center;
  background-color: #253341;
  border: none;
  font-size: 1em;
}

input::placeholder {
  text-align: center;
  font-size: 11pt;
  color: #8899a6;
}
