/* .navBarDiv {
  opacity: 1;
} */

.navBar {
  display: flex;
  padding: 10px;
  justify-content: space-evenly;
  border-bottom: 1px solid #8899a6;
  height: 2.5em;
  text-align: center;
  width: 100vw;
  position: fixed;
  top: 0;
  background-color: #15202b;
  opacity: 1;
  z-index: 5;
}

@media (max-width: 1355px) {
  .navBar {
    display: flex;
    position: relative;
    align-items: flex-start;
    padding: 3px;
    border-bottom: inherit;
  }
}

@media (max-width: 1355px) {
  #profile {
    display: flex;
    font-size: 8pt;
    margin-top: 1em;
    margin-right: 1em;
    position: relative;
  }
}

#home {
  width: 3em;
  height: auto;
}

#home:active {
  position: relative;
  top: 1px;
}

#login {
  border: 1px solid #1da1f2;
  border-radius: 20px;
  text-justify: distribute;
  cursor: pointer;
  color: #1da1f2;
  font-family: Arial;
  font-size: 1em;
  font-weight: bolder;
  width: 85px;
  height: auto;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 16px;
  padding-right: 16px;
}

#signup {
  background-color: #1da1f2;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 1em;
  font-weight: bolder;
  width: 85px;
  height: auto;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 16px;
  padding-right: 16px;
}

.active:active {
  position: relative;
  top: 1px;
}

#signup:hover {
  background-color: #1779b6;
}

#login:hover {
  background-color: #1779b6;
}

#logout {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid #1da1f2;
  border-radius: 20px;
  text-align: center;
  align-items: center;
  cursor: pointer;
  color: #1da1f2;
  font-family: Arial;
  font-size: 1em;
  font-weight: bolder;
  width: 6em;
  height: auto;
  text-decoration: none;
  padding: 1em;
}

@media (max-width: 1355px) {
  #logout {
    display: flex;
    font-size: 6pt;
    align-items: center;
    text-align: center;
    margin-top: 1em;
    margin-right: 1.5em;
    width: max-content;
    height: min-content;
    padding: 1em;
  }
}

#logout:hover {
  background-color: #1779b6;
}

#profilePic {
  width: 1em;
  height: auto;
  margin-top: 18px;
  border-radius: 100%;
}

@media (max-width: 1355px) {
  #profilePic {
    display: none;
    position: relative;
  }
}

#profile {
  text-decoration: none;
  color: whitesmoke;
  font-size: large;
}

#searchForm {
  display: flex;
  flex-direction: row;
  width: auto;
}

@media (max-width: 1355px) {
  #searchForm {
    display: flex;
    position: relative;
    padding: 0;
  }
}

#searchIcon {
  padding-top: 12px;
  padding-right: 10px;
  width: 1.5em;
  height: 1.5em;
}

@media (max-width: 1355px) {
  #searchIcon {
    display: none;
    position: relative;
  }
}

#searchInput {
  display: flex;
  width: 75%;
  height: 2em;
  margin-top: 7px;
  padding: 10px;
  border-radius: 25px;
  text-align: flex-start;
  background-color: #253341;
  border: none;
  font-size: 1em;
}

@media (max-width: 1355px) {
  #searchInput {
    display: flex;
    padding: 0;
    text-align-last: center;
  }
}

input::placeholder {
  display: flex;
  text-align: flex-start;
  font-size: 11pt;
  color: #8899a6;
}

@media (max-width: 1355px) {
  input::placeholder {
    font-size: 6pt;
  }
}
