nav {
  display: flex;
  padding: 8px;
  justify-content: space-evenly;
  border-bottom: 1px solid #8899a6;
  height: 2.5em;
  text-align: center;
}

#home {
  width: 3em;
  height: auto;
}

#login {
  border: 1px solid #1da1f2;
  border-radius: 20px;
  text-justify: distribute;
  cursor: pointer;
  color: #1da1f2;
  font-family: Arial;
  font-size: 1em;
  font-weight: bolder;
  width: 85px;
  height: auto;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 16px;
  padding-right: 16px;
}

#signup {
  background-color: #1da1f2;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 1em;
  font-weight: bolder;
  width: 85px;
  height: auto;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 16px;
  padding-right: 16px;
}
.active:hover {
  background-color: #1779b6;
}
.active:active {
  position: relative;
  top: 1px;
}

#logout {
  border: 1px solid #1da1f2;
  border-radius: 20px;
  text-justify: distribute;
  cursor: pointer;
  color: #1da1f2;
  font-family: Arial;
  font-size: 1em;
  font-weight: bolder;
  width: 85px;
  height: auto;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 16px;
  padding-right: 16px;
}

#profilePic {
  margin-top: 3px;
  width: 1em;
  height: auto;
  padding-top: 7px;
}

#profile {
  text-decoration: none;
  color: whitesmoke;
  font-size: large;
}
