/* 
//colors:
main-background-color: #15202B;
light grey text #8899a6 
dark input color #192734
dark div color #39434c
light blue classic #1da1f2
*/

.publicPostsListDiv {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 105%;
  justify-content: space-between;
  border-bottom: 1px outset #8899a6;
  border-right: 0.5px solid #8899a69a;
  border-left: 0.5px solid #8899a69a;
  width: 100%;
  height: max-content;
  padding: 25px 70px 25px 70px;
}

.publicPostsListDiv:hover {
    background-color: #192734;
  }

/* .publicFeedDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 75%;
} */

.rowContainerPublic {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.rowContainerPublic > p {
    padding: 10px;
    margin: 0;
}

#postPublicProfPic {
  display: flex;
  flex-direction: initial;
  border-radius: 100%;
  border: 1px solid #8899a6;
  width: 3em;
  height: 3em;
}

#userNamePublicP {
  font-size: large;
  color: whitesmoke;
  padding-top: 15px;
}

#dateStampPublicP {
  padding-top: 20px;
  font-size: 10pt;
}

#allPostBodyPublicP {
    display: flex;
    font-size: large;
    color: whitesmoke;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 2em;
    margin-left: 20%;
  /* display: flex;
  font-size: large;
  color: whitesmoke;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 17%; */
}
