/* 
//colors:
main-background-color: #15202B;
light grey text #8899a6 
dark input color #192734
dark div color #39434c
light blue classic #1da1f2
*/

#userTweetsH1 {
  display: flex;
  margin-top: 0;
  color: #1da1f2;
  font-size: large;
  font-weight: bold;
  padding: 20px 76px 20px 20px;
  width: 100%;
  border-right: outset 0.5px #8899a6c0;
  border-bottom: 1px outset #8899a6;
}

#userPostsDiv {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 33%;
  margin-left: 26.2%;
  margin-right: 40.9%;
}

.userPostsListDiv {
  border-right: outset 0.5px #8899a6c0;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: flex-start;
  border-bottom: 1px outset #8899a6c0;
  width: 100%;
  height: max-content;
  padding: 48px 48px 100px 48px;
}

.userPostsListDiv:hover {
  background-color: #192734;
}

#postProfilePic {
  display: flex;
  justify-content: flex-start;
  border-radius: 100%;
  border: 1px solid #8899a6;
  width: 4em;
  height: 4em;
}

.rowContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.rowContainer > p {
  padding: 10px;
  margin: 0;
}

#userNameP {
  font-size: large;
  color: whitesmoke;
}

#dateStampP {
  font-size: 10pt;
}

#postBodyP {
  display: flex;
  font-size: large;
  color: whitesmoke;
  padding-top: 2em;
  padding-left: 2em;
  margin-left: 4em;
}

#tag {
  display: flex;
  flex-direction: column;
  margin-left: 7em;
}