/* 
//colors:
main-background-color: #15202B;
light grey text #8899a6 
dark input color #192734
dark div color #39434c
light blue classic #1da1f2
*/

#userH1 {
  display: flex;
  font-size: larger;
  padding: 15px 5px 5px 10px;
  position: relative;
}

.userInfoDiv {
  display: flex;
  flex-direction: column;
  margin: auto;
  border: solid 1px #8899a6c0;
  width: 48%;
  height: auto;
  position: relative;
}

@media (max-width: 1355px) {
  .userInfoDiv {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: auto;
    place-items: center;
    justify-content: space-around;
    width: fill;
    position: static;
  }
}

#divUserInfo:hover {
  background-color: #192734;
}

#userInfoContainer {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #8899a6;
  position: relative;
}

#userProfilePic {
  display: flex;
  justify-self: start;
  justify-content: flex-start;
  border: 5px solid #15202b;
  background-color: #192734;
  border-radius: 100%;
  width: 8em;
  margin-left: 1em;
  margin-top: -4.5em;
}

#backgroundLogo {
  margin-top: 1em;
  display: flex;
  width: 100%;
  height: auto;
  background-color: #192734;
  border-top: 1px solid #8899a6ca;
  border-bottom: 3px solid #15202b;
}

#userNames {
  margin-left: 2em;
  padding: 5px 5px 10px 5px;
}

#userNameH2 {
  font-size: large;
}

#bioP {
  margin-left: 2em;
  padding: 5px 5px 20px 5px;
}

#updateDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#updateProfileBtn {
  border: 1px solid #1da1f2;
  border-radius: 25px;
  text-justify: distribute;
  cursor: pointer;
  background-color: #15202b;
  color: #1da1f2;
  font-family: Arial;
  font-size: 12pt;
  font-weight: bolder;
  width: auto;
  height: 3em;
  text-decoration: none;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 1em;
  margin-right: 1em;
}

#updateProfileBtn:focus {
  outline: none;
}
#updateProfileBtn:active {
  background-color: #1779b6;
}
#updateProfileBtn:hover {
  background-color: #1779b6;
}
