/* 
//colors:
main-background-color: #15202B;
light grey text #8899a6 
dark input color #192734
dark div color #39434c
light blue classic #1da1f2
*/

#userTweetsH1 {
    display: flex;
    margin-left: 38%;
    /* margin-top: -7%; */
    margin-top: 0;
    color: #1da1f2;
    font-size: large;
    font-weight: bold;
    padding: 10px;
  }
  
  #userPostsDiv {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-right: 1px solid #8899a6;
    width: 71%;
  }
  
